{% extends 'bikefinder/base.html' %}

{% block content %}
<div class="container">

    <div class="row">
        <div class="span12">
            <div id="da-map-canvus" class="img-polaroid">
        </div>
    </div>

    <div class="row">
        <div class="span9">
            <table class="table poi-table">
                <thead>
                    <th> label </th>
                    <th> type </th>
                    <th> name </th>
                    <th> description </th>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>


        <div class="span3">
            <div class="row">
                <div class="span3">
                    <div class="well">
                        <p> Click on a point or row to see description </p>
                        <div class="clear"> </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="span3">
                    <h4> Filter </h4>
                    <dl class="sub-nav">
                        <dd class="label"> <a href="#"> All </a></dd>
                        <dd class="label"> <a href="#"> Shops </a> </dd>
                        <dd class="label"> <a href=#">  Racks </a></dd>
                        <dd class="label"> <a href=#">  Events </a></dd>
                        <dd class="label"> <a href=#">  special </a></dd>
                    </dl>
                </div>
            </div>
            <div class="row">
                <div class="span3">
                    <form>
                        <fieldset>
                            <legend> Search  Near Address </legend>
                                <div class="input-append">
                                    <input id="txt-address" type="text" class placeholder="Address: City Center"/>
                                    <span id="btn-search" class="add-on btn"> Find </span>
                                </div>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block script %}
        {% load staticfiles %}
        <script src="https://maps.googleapis.com/maps/api/js?sensor=false"> </script>
        <script src="{% static "js/global_vars.js" %}"> </script>
        <script src="{% static "js/map.js" %}"> </script>
        <script src="{% static "js/geo_finder.js" %}"> </script>
        <script type="text/javascript">

            $(document).ready(function(){
                load_map();
                get_points({
                    success:function(data){
			console.log(data.points);
                        add_points_to_map(data.points)
                        add_points_to_list(data.points);
                    }
                });

                $("#btn-search").click(function(){
                    find_address({
                        address:$("#txt-address").val(),
                        success:function(latLng){
                            current_position_marker = new google.maps.Marker({
                                position:latLng,
                                map: map,
                                title: "Search Around Here",
                            });
                            remove_points_from_map();
                            remove_points_from_list();
                            get_points({
                                queryData:{
                                    latitude:latLng.lat(), 
                                    longitude:latLng.lng(), 
                                    type:"all",

                                },
                                success:function(data){
                                    add_points_to_map(data.points);
                                    add_points_to_list(data.points);
                                }
                            });
                        },
                        failture:function(err_msg){
                            alert("something bad happend");
                        }
                    });
                });
            });

        </script>
{% endblock %}
