{% extends 'bikefinder/base.html' %}

{% block content %}
        <div class="container">
	{{ submit_form.message.errors}}
            <div class="row">
                <div class="span6">
                    <form class="form" method="POST" action="{% url "bikefinder.views.submit" %}">
                        {% csrf_token %}
                        <fieldset>

                            <legend> <h2>  Submit Bike Thing </h2> </legend>


                            <input type="hidden" id="hdn-latitude" name="hdn-latitude" value="" />
                            <input type="hidden" id="hdn-longitude" name="hdn-longitude" value="" />

                            <label> Name </label>
                            {{submit_form.name}}

                            <label> Type </label>
                            {{submit_form.type}}

                            <label> Description </label>
                            {{submit_form.description}}

                            <label> Address  </label>
                            <div class="input-append">
                                    <input id="txt-address" name="address" class="span4 txt-address" type="text" placeholder="Address: City Center"/>
                                    <span id="findaddress" class="btn" >Show on Map</span>
                            </div>
                            <input type="submit" id="main-submit" class="btn-large" value="submit"/>
                        </fieldset>
                    </form>
                </div>

                <div class="span6">
                    <div class="map_canvas" id="da-map-canvus"> </div>
                </div>
            </div>
        </div>
{% endblock %}

{% block script %}

{% load staticfiles %}
    <script src="{% static "js/jquery-1.9.1.min.js" %}"> </script>
    <script src="{% static "js/jquery.uniform.js" %}"> </script>
    <script src="https://maps.googleapis.com/maps/api/js?sensor=false"> </script>
    <script src="{% static "js/global_vars.js" %}"> </script>
    <script src="{% static "js/map.js" %}"> </script>
    <script src="{% static "js/load_points.js" %}"> </script>
    <script src="{% static "js/geo_finder.js" %}"> </script>

    <script type="text/javascript">
        $(document).ready(function(){
            load_map();

            $("#findaddress").click(function(){
                find_address({
                    address: $("#txt-address").val(),
                    success: function(result){
                        if( current_position != null){
                            current_position.setMap(null);
                        }

                        $("#hdn-latitude").val(result.lat());
                        $("#hdn-longitude").val(result.lng());

                        current_position  = new google.maps.Marker({
                            position: result,
                            draggable:true,
                            title:"the address",
                            map:map
                        });
                        map.setCenter(result);

                        google.maps.event.addListener(current_position, "mouseup", update_hidden_location_fields)
                    },
                    error:function(error_msg){
                      alert(error_msg);
                    }
                });
            });

            $("#main-submit").click(function(){
                if($("#hdn-latitude").val() == ""){
                    return false;
                }
            });

        });


    </script>


{% endblock %}

