{% extends 'bikefinder/base.html' %}

{% block content %}
        <div class="container">
	{{ submit_form.errors}}
            <div class="row">
                <div class="col-md-6">
                    <form class="form" method="POST" action="{% url "bikefinder.views.submit" %}">
                        {% csrf_token %}
                        <fieldset>

                            <legend> <h2>  Submit Bike Thing </h2> </legend>


                            <input type="hidden" id="hdn-latitude" name="hdn-latitude" value="" />
                            <input type="hidden" id="hdn-longitude" name="hdn-longitude" value="" />
                            <div class="form-group">
                              <label> Name </label>
                              {{submit_form.name}}
                            </div>

                            <div class="form-group">
                              <label> Type </label>
                              {{submit_form.type}}
                            </div>

                            <div id="time-group" class="form-group" style="display: none">
                              <label> Time </label>
                              <div id="datetimepicker1" class='input-group date' data-date-format="YYYY-MM-DD HH:mm:ss" >
                                {{submit_form.time}}
                                <span class="input-group-addon">
                                  <span class="glyphicon glyphicon-calendar"></span>
                                </span>
                              </div>
                            </div>

                            <div class="form-group">
                              <label> Description </label>
                              {{submit_form.description}}
                            </div>

                            <div class="form-group">
                              <label> Address  </label>
                              <div class="input-group">
                                      <input id="txt-address" name="address" class="form-control txt-address" type="text" placeholder="Address: City Center"/>
                                      <span id="findaddress" class="input-group-addon" >Show on Map</span>
                              </div>
                            </div>
                            <input type="submit" id="main-submit" class="btn btn-primary" value="submit"/>
                        </fieldset>
                    </form>
                </div>

                <div class="col-md-6">
                    <div class="map_canvas" id="da-map-canvus"> </div>
                </div>
            </div>
        </div>


{% endblock %}

{% block script %}

{% load staticfiles %}
    <script src="{% static "js/jquery.uniform.js" %}"> </script>
    <script src="https://maps.googleapis.com/maps/api/js?sensor=false"> </script>
    <script src="{% static "js/global_vars.js" %}"> </script>
    <script src="{% static "js/map.js" %}"> </script>
    <script src="{% static "js/load_points.js" %}"> </script>
    <script src="{% static "js/geo_finder.js" %}"> </script>

    <script src="{% static "js/moment.min.js" %}"> </script>
    <script src="{% static "js/bootstrap-datetimepicker.min.js" %}"> </script>

    <script type="text/javascript">
        $(document).ready(function(){

            $("#datetimepicker1").datetimepicker();
            console.log($("#id_type").find(":selected").text());
            if($("#id_type :selected").text().toLowerCase() == "event"){
                $("#time-group").css("display", "block");
            }
            $("#id_type").change(function(){
              if($(this).find(":selected").text().toLowerCase() != "event"){
                $("#time-group").css("display", "none");
              }else{
                $("#time-group").css("display", "block");
                //$("#datetimepicker1").datetimepicker();
              }
            })

            load_map();

            $("#findaddress").click(function(){
                find_address({
                    address: $("#txt-address").val(),
                    success: function(result){
                        if( current_position != null){
                            current_position.setMap(null);
                        }

                        $("#hdn-latitude").val(result.lat());
                        $("#hdn-longitude").val(result.lng());

                        current_position  = new google.maps.Marker({
                            position: result,
                            draggable:true,
                            title:"the address",
                            map:map
                        });
                        map.setCenter(result);

                        google.maps.event.addListener(current_position, "mouseup", update_hidden_location_fields)
                    },
                    error:function(error_msg){
                      alert(error_msg);
                    }
                });
            });

            $("#main-submit").click(function(){
                if($("#hdn-latitude").val() == ""){
                    return false;
                }
            });

        });


    </script>


{% endblock %}

